<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<title>Восток</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style/styles.css">
	<link rel="stylesheet" href="style/jquery.fancybox.css">
	<link rel="stylesheet" href="style/cms_1.css">
	<link rel="stylesheet" href="style/cms_2.css">
	<script src="js/tinydropdown.js"></script>
</head>
<body>
	<div id="outer">
		<div id="page">
			<div class="weav-1"></div>
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__meta row">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
							<a href="#" class="page-header__logo-wrap">
								<img src="image/logo.jpg" class="page-header__logo" height="190" width="225" alt="">
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
							<div class="page-header__connect">
								<div class="page-header__half">
									<div class="page-header__item">
										<div class="page-header__label">Телефон факс: </div>
										<div class="page-header__col">
											<div class="page-header__value">(3532) 91-12-12</div>
											<div class="page-header__value">(3532) 91-12-13</div>
											<div class="page-header__value">(3532) 22-95-66</div>
										</div>
									</div>
									<div class="page-header__item">
										<div class="page-header__label page-header__label--rent">Аренда <br>помещений:</div>
											<div class="page-header__col">
												<div class="page-header__value">+7(961) 937-95-66</div>
											</div>
										</div>
									</div>
									<div class="page-header__half">
										<div class="page-header__item page-header__item--second page-header__value--icon">
												<div class="page-header__value">г. Оренбург, ул. Карагандинская, д. 58/1</div>
										</div>
										<div class="page-header__item page-header__item--second">
												<div class="page-header__value">г. Оренбург, ул. Расковой, д. 10а</div>
										</div>
										<div class="page-header__item page-header__item--second">
												<div class="page-header__value">г. Оренбург, ул. Переселенцев, д. 1/1</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<div class="page-header__search">
									<form action="#" class="page-header__search-form">
										<input type="text" class="page-header__input" placeholder="Поиск по сайту">
										<button class="page-header__go">Поиск</button>
									</form>
								</div>
							</div>
						</div>
						<div class="page-header__navigation">
							<div class="page-header__topmenu">
									<div class="container">
										<div class="page-header__topmenu-large hidden-xs">
											<ul class="page-header__menu" id="nav">
												<li><a href="#">главная</a></li>
												<li><a href="#">Карта корпусов</a></li>
												<li><a href="#">МФЦ</a></li>
												<li><a href="#">Фотогалерея</a></li>
												<li>
													<a href="#">Арендаторам</a>
													<ul class="submenu">
														<li><a href="#">Подпункт 1</a></li>
														<li><a href="#">Подпункт 2 пример названия в 2 строчки</a></li>
														<li><a href="#">Подпункт 2 пример названия в 2 строчки</a></li>
													</ul>
												</li>
												<li><a href="#">Контакты</a></li>
											</ul>
											<script type="text/javascript">
												var dropdown=new TINY.dropdown.init("dropdown", {id:'nav', active:'menuhover'});
											</script>
										</div>
										<div class="page-header__topmenu-header">
											<button class="page-header__topmenu-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>
										<nav class="page-header__topmenu-collapse bs-navbar-collapse collapse" aria-expanded="true">
											<ul class="nav navbar-nav">
												<li><a href="#">главная</a></li>
												<li><a href="#">Карта корпусов</a></li>
												<li><a href="#">МФЦ</a></li>
												<li><a href="#">Фотогалерея</a></li>
												<li><a href="#">Арендаторам</a></li>
												<li><a href="#">Контакты</a></li>
											</ul>
										</nav>
									</div>
							</div>
						</div>
					</div>
				</div>

			<div class="page-content">
				<div class="weav-2"></div>
				<div class="page-content__container container">
					<div class="main row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="breadcrumb">
								<ul class="breadcrumb__listcrumbBox">
									<li><a href="#">Главная</a></li>
									<li><a href="#">Пункт меню</a></li>
									<li><span>Пример хлебных крошек</span></li>
								</ul>
							</div>
							<!-- BEGIN #middle -->
							<div id="middle">
								<!-- BEGIN #container -->
								<div id="container">
									<!-- BEGIN #content -->
									<div id="content">
										<h1>Заголовок для контента контентища</h1>
										<p>Индустриальный парк «Оренбургский пуховый платок» – это современный комплекс зданий и сооружений различной направленности общей площадью
35.000 кв. м, расположенный на территории 8 Га. Этот статус был получен нами постановлением Правительства Оренбургской области от 08.09.2015 г. №694-п.</p>

										<p>Отличительной особенностью нашего индустриального парка является тот факт, что он расположен практически в географическом центре Оренбурга на
пересечении всех основных транспортных магистралей города.</p>
										<p>Наша главная цель – создать необходимые условия для развития предприятий реального сектора экономики в рамках специализации (народные
промыслы, легкая промышленность, индустрия детских товаров), а также для компаний, ведущих торговую деятельность и оказывающих
консультационные услуги. Общая площадь помещений, согласно генеральному плану, к 2025 году достигнет 200 000 кв. м.</p>
										<p>На территории индустриального парка проведена серьезная реконструкция как всех корпусов и помещений, так и прилегающей территории и
инфраструктуры, а также отремонтированы подъездные пути, организованы внешняя и внутренняя парковки. Смонтирована собственная котельная
мощностью 9 МВт (она обеспечит все потенциальные потребности резидентов на 10 лет вперед), установлена новейшая тепловая автоматика, проведены
современные коммуникации.</p>

										<div class="benefit">
											<div class="benefit__label">Преимущества Индустриального парка «Оренбургский пуховый платок»</div>
											<div class="benefit__content">
												<a href="#" class="position position--1">
													<div class="position__pin">
														<div class="position__icon"></div>
														<div class="position__count">
															<span>700</span>
														</div>
													</div>
													<div class="position__summary">Парковка на 700 м/м</div>
												</a>
												<a href="#" class="position position--2">
													<div class="position__pin">
														<div class="position__icon"></div>
														<div class="position__count">
															<span>400</span>
														</div>
													</div>
													<div class="position__summary">Более 400 камер видеонаблюдения</div>
												</a>
												<a href="#" class="position position--3">
													<div class="position__pin">
														<div class="position__icon"></div>
													</div>
													<div class="position__summary">Развитая внутренняя инфраструктура: 2 точки общественного питания, магазины, банкоматы, парикмахерская, аптека,
													автомойка, переговорные, офисные помещения и конференц-залы общей доступности</div>
												</a>
												<a href="#" class="position position--4">
													<div class="position__pin">
														<div class="position__icon"></div>
														<div class="position__count">
															<span>6</span>
														</div>
													</div>
													<div class="position__summary">6 маршрутов общественного транспорта, благодаря которым можно добраться в любой район города</div>
												</a>
												<div class="position position--5">
													<div class="position__pin">
														<div class="position__icon"></div>
													</div>
													<div class="position__summary">Современные системы связи и коммуникации</div>
												</div>
												<a href="#" class="position position--6">
													<div class="position__pin">
														<div class="position__icon"></div>
														<div class="position__count">
															<span>55</span>
														</div>
													</div>
													<div class="position__summary">Многофункциональный центр предоставления государственных и муниципальных услуг на 55 око</div>
												</a>
												<a href="#" class="position position--7">
													<div class="position__pin">
														<div class="position__icon"></div>
														<div class="position__count">
															<span>1500</span>
														</div>
													</div>
													<div class="position__summary">Более 1 500 человек, которые работают в компаниях – резидентах парка</div>
												</a>
												<a href="#" class="position position--8">
													<div class="position__pin">
														<div class="position__icon"></div>
														<div class="position__count">
															<span>10000</span>
														</div>
													</div>
													<div class="position__summary">Более 10 000 человек посетителей ежедневно</div>
												</a>
											</div>
										</div>

										<p>Жемчужиной нашего индустриального парка стала запущенная в 2015 году первая очередь Оренбургского областного Центра народных художественных промыслов площадью 10 000 кв. м. Его задача – объединить под своей крышей всех непосредственных участников процесса пуховязания:</p>

										<ul>
											<li>фабрика пуховых платков, комбинат, артели пуховязальщиц;</li>
											<li>склады для хранения пуха, шерсти, пряжи и готовых изделий;</li>
											<li>логистические центры по закупке пуха, шерсти и по продаже готовых изделий;</li>
											<li>единый центр контроля качества и художественных канонов;</li>
											<li>учебные центры пуховязани</li>
											<li>музей и выставочный центр;</li>
											<li>магазины-бутики;</li>
											<li>центр прямых интернет-продаж;</li>
											<li>вспомогательные помещения: кафе, гостиница и т. д.</li>
										</ul>

										<p>Также здесь работают «Оренбургская носочная фабрика» и «Детская трикотажная фабрика».</p>
										<p>Не менее важными резидентами также являются магазины: Магнит (центральный офис в Оренбурге), Пятерочка, РБТ, Энтузиаст; банки: «Хоум Кредит Банк», «Почта Банк», «Русский Стандарт», «ЮниКредит Банк», проектная организация «Оренбурггражданпроект», лаборатория «ЦЛАТИ». Полный список резидентов можно посмотреть здесь.
										Проект развития Индустриального парка «Оренбургский пуховый платок», в том числе создания Оренбургского областного Центра народных
										художественных промыслов реализуется при поддержке Минпромторга РФ, губернатора Оренбургской области, профильных областных министерств, Агентства кредитных гарантий, Гарантийного фонда Оренбургской области.</p>
									</div>
									<!-- END #content -->
								</div>
								<!-- END #container -->
							</div>
							<!-- END #middle -->

						</div>
					</div>
				</div>
				<div class="news">
					<div class="news__container container">
						<div class="row">
								<div class="news__title">Новости</div>
								<div class="news__body row">
									<div class="news__col col-md-6">
										<div class="article">
											<div class="article__top">
												<div class="article__date">28 декабря 2015</div>
											</div>
											<div class="article__main">
												<h3 class="article__heading">
													<a href="#" class="article__link">
														Компания «А7 Энерго» приняла участие в выставке «Европа-Азия. Сотрудничество без границ – 2015»
													</a>
												</h3>
												<p>14-я Российско-Казахстанская выставка прошла в городе Актобе 23-25 сентября. Компания может работать на особо опасных и технически сложных объектах. Помещения старой базы ЗЭС переданы Бузулукской Епархии.</p>
												<a href="#" class="article__more"><span>Подробнее</span></a>
											</div>
										</div>
									</div>
									<div class="news__col col-md-6">
										<div class="article">
											<div class="article__top">
												<div class="article__date">5 февраля 2016</div>
											</div>
											<div class="article__main">
												<h3 class="article__heading">
													<a href="#" class="article__link">В Бузулуке введена в эксплуатацию Новая база ЗЭС, построенная компанией «А7 Энерго»</a>
												</h3>
												<p>Помещения старой базы ЗЭС переданы Бузулукской Епархии.Уважаемые коллеги и партнеры! Примите теплые поздравления с профессиональным праздником – Днем строителя!</p>
												<a href="#" class="article__more"><span>Подробнее</span></a>
											</div>
										</div>
									</div>
									<div class="news__line col-md-12 text-center">
										<a href="#" class="article__all"><span>Подробнее</span></a>
									</div>
								</div>
						</div>
					</div>
				</div>
				<div class="customer">
					<div class="customer__container container">
						<div class="row">
							<div class="customer__title">Клиенты</div>
							<div class="customer__inside row">
								<div class="col-md-12">
										<div class="carousel">
										  <a href="#" class="slide"><img src="images/carousel/item-1.jpg" height="138" width="198"></a>
										  <a href="#" class="slide"><img src="images/carousel/item-2.jpg" height="138" width="198"></a>
										  <a href="#" class="slide"><img src="images/carousel/item-3.jpg" height="138" width="198"></a>
										  <a href="#" class="slide"><img src="images/carousel/item-4.jpg" height="138" width="198"></a>
										  <a href="#" class="slide"><img src="images/carousel/item-5.jpg" height="138" width="198"></a>
										  <a href="#" class="slide"><img src="images/carousel/item-2.jpg" height="138" width="198"></a>
										  <a href="#" class="slide"><img src="images/carousel/item-5.jpg" height="138" width="198"></a>
										  <a href="#" class="slide"><img src="images/carousel/item-1.jpg" height="138" width="198"></a>
										  <a href="#" class="slide"><img src="images/carousel/item-4.jpg" height="138" width="198"></a>
										</div>
								</div>
								<div class="col-md-12">
									<div class="customer__line">
										<a href="#" class="customer__button"><span>Смотреть всех клиентов</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mapbox">
					<div class="mapbox__top">
						<div class="mapbox__title">
							<div class="mapbox__name">Карта</div>
						</div>
						<div class="mapbox__great-title"><a href="#"><span>проезда</span></a></div>
					</div>
					<div class="mapbox__inner">
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div class="push"></div>
		</div>
		<div class="page-footer">
			<div class="page-footer__roof">
				<div class="page-footer__container container">
					<div class="row">
						<div class="page-footer__nav">
							<div class="page-footer__topmenu">
									<div class="container">
										<div class="page-footer__topmenu-large hidden-xs">
											<ul class="page-footer__menu" id="nav">
												<li><a href="#"><span>главная</span></a></li>
												<li><a href="#"><span>Карта корпусов</span></a></li>
												<li><a href="#"><span>МФЦ</span></a></li>
												<li><a href="#"><span>Фотогалерея</span></a></li>
												<li><a href="#"><span>Арендаторам</span></a></li>
												<li><a href="#"><span>Контакты</span></a></li>
											</ul>
										</div>
										<div class="page-footer__topmenu-header">
											<button class="page-footer__topmenu-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse-bottom">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>
										<nav class="page-footer__topmenu-collapse bs-navbar-collapse-bottom collapse" aria-expanded="true">
											<ul class="nav navbar-nav">
												<li><a href="#">главная</a></li>
												<li><a href="#">Карта корпусов</a></li>
												<li><a href="#">МФЦ</a></li>
												<li><a href="#">Фотогалерея</a></li>
												<li><a href="#">Арендаторам</a></li>
												<li><a href="#">Контакты</a></li>
											</ul>
										</nav>
									</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
							<a href="#" class="page-footer__logo-wrap">
								<img src="image/logo.jpg" class="page-header__logo" height="190" width="225" alt="">
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
							<div class="page-footer__connect">
								<div class="page-footer__half">
									<div class="page-footer__item">
										<div class="page-footer__label">Телефон факс: </div>
										<div class="page-footer__col">
											<div class="page-footer__value">(3532) 91-12-12</div>
											<div class="page-footer__value">(3532) 91-12-13</div>
											<div class="page-footer__value">(3532) 22-95-66</div>
										</div>
									</div>
									<div class="page-footer__item">
										<div class="page-footer__label page-footer__label--rent">Аренда <br>помещений:</div>
											<div class="page-footer__col">
												<div class="page-footer__value">+7(961) 937-95-66</div>
											</div>
										</div>
									</div>
									<div class="page-footer__half">
										<div class="page-footer__item page-footer__item--second page-footer__value--icon">
												<div class="page-footer__value">г. Оренбург, ул. Карагандинская, д. 58/1</div>
										</div>
										<div class="page-footer__item page-footer__item--second">
												<div class="page-footer__value">г. Оренбург, ул. Расковой, д. 10а</div>
										</div>
										<div class="page-footer__item page-footer__item--second">
												<div class="page-footer__value">г. Оренбург, ул. Переселенцев, д. 1/1</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<div class="webstr">
									<div class="webstr__text">
										<a href="#">
											Создание интернет сайтов <br>
											Сделать сайт в Оренбурге <br>
											Раскрутка
										</a>
									</div>
									<div class="webstr__logo">
										<img src="image/webstr.png" alt="web-str" width="113" height="30">
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="page-footer__bline">
				<div class="page-footer__container container">
					<div class="row">
						<div class="col-md-12">
							<div class="copy">© 2016 г. Все права защищены</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--- site scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyw8fqCzykAHiYPWhJM7JmpAo82BRpk80"></script>
	<script src="js/jquery.fancybox.pack.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/jsscript.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
breadcrumb__listcrumbBoxcrumbBox
